
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Send Missile - Test Your Alert Sending Skills</title>

  <meta property="og:title" content="SendMissile.com" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://sendmissile.com" />
  <meta property="og:image" content="http://www.mulierchile.com/missile-clip-art/missile-clip-art-003.jpg" />

  <!-- Fonts  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <style>
    .alert-options{
        padding: 10px;
    }
  </style>
</head>
<body>
<div id="app">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://SendMissile.com" class="brand-logo">Send Missile</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Something goes here</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Something goes here</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" v-show="!isFormShown">
      <br><br>
      <h1 class="header center orange-text">{{message}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">Test your skills sending missile alerts!</h5>
      </div>
      <div class="row center">
        <a href="#!" id="download-button" class="btn-large waves-effect waves-light orange" @click="showForm">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container" v-show="isFormShown">
    <div class="section">
        <div class="send-missile-form" >
            <h2>Send Alert</h2>
            <em>Select the type of alert you'd like to send and press 'Send Alert'!</em> 
            <br>
            <div class="alert-options">
                <input type="radio" id="weather-alert" value="Weather Alert" v-model="messageType">
                <label for="weather-alert">Weather Alert</label>
                <br>
                <input type="radio" id="weather-alert-test" value="Weather Alert Test" v-model="messageType">
                <label for="weather-alert-test">Weather Alert Test</label>
                <br>
                <input type="radio" id="missile-alert" value="Missile Alert" v-model="messageType">
                <label for="missile-alert">Missile Alert</label>
                <br>
                <input type="radio" id="missile-alert-test" value="Missile Alert Test" v-model="messageType">
                <label for="missile-alert-test">Missile Alert Test</label>
                <br>
            </div>
            <span>Picked: {{ messageType }}</span>
            <br>
            <a class="waves-effect waves-light btn-large red" @mouseover="mouseover" @click="sendMessage"><i class="material-icons right">send</i>Send Alert</a>
        </div>
        <!-- Modal Structure -->
        <div id="modal-message" class="modal">
            <div class="modal-content">
            <h4>{{messageType}} Sent!</h4>
            <p>Your {{messageType}} message has been sent to 323.1 million people! Congrats! <span v-show="messageType == 'Missile Alert'">Millions of people have just learned of their impending doom!</span></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" @click="recallMessage">Recall Message</a>
            </div>
        </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a group of missile alert sending geniuses trying to teach other people how to send proper alerts.</p>


        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/joshualyon">josh</a>
      </div>
    </div>
  </footer>


  </div> <!-- end APP -->
  <script>
  var app = new Vue({
    el: '#app',
        data: {
            message: 'Send missile!',
            messageType: null,
            isFormShown: false,
            hoverCount: 0,
        },
        methods: {
            mouseover: function(){ 
                console.log("mouseover event");
                if(this.messageType != null && this.hoverCount <= 2){
                    this.hoverCount++;
                    this.messageType = "Missile Alert";
                }
            },
            showForm: function(){
                this.isFormShown = true;
            },
            sendMessage: function(){
                if(this.messageType != null){
                    this.messageType = "Missile Alert";
                    this.$nextTick(function(){
                        this.hoverCount = 0; //reset the hover count
                        $('#modal-message').modal('open');
                    });
                }
            },
            recallMessage: function(){
                alert("I'm sorry, Dave. I'm afraid I can't do that.")
            }

        },
        mounted: function(){
            $(".modal").modal();
        }
    })
  </script>
  </body>
</html>
